@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Libre+Franklin&family=Open+Sans:wght@600;700;800&family=Oswald:wght@400;500&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    }

html{
    scroll-behavior: smooth;
}

.site-logo{
    width: 150px;
}

.site-nav{
    position: absolute;
    top: 0;
    z-index: 3;
}

.home{
    background-image: url("../img/Bg-Shape.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
    position: relative;
}

.scroll-to-next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 2;
}

.icon-v{
    position: absolute;
    bottom: 80px;
    left: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

body{
    height: 500vh;
}

.about-text{
    background-image: url("../img/bg-2.svg");
    background-size: 100%;
    background-position: center;

}

.about{
    background-color: #7E76F910;
    
}

.services{
    background-image: url("../img/bg-3.svg");
}

.service-card{
    border-radius: 35px !important;
    border: none !important;
    height: 450px;
}

.pricing-card{
    border-radius: 35px !important;
    border: none !important;
    width: 350px;
}

.pricing{
    background-color: #7E76F910;
}

.footer{
    background-image: url("../img/footer-1.svg"),url("../img/footer-2.svg");
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 170px;
}

.delay1{
    animation-delay: 1s;
}

.delay2{
    animation-delay: 1.5s;
}

.delay3{
    animation-delay: 2s;
}

@media screen and (max-width : 576px) {
    .footer {
        background-size: cover;
        background-position: center;
    }

    .rbtn{
        width: 100px;
        height: 20px;
    }

    .rtxt{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        font-size: x-small;
    }
    .scroll-to-next{
        width: 25px;
        height: 25px;    
        bottom: 2px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .icon-v{
        bottom: 10px;
        left: auto;
        right: 10px;
    }
}


